.vertical-action-card{
    width: 70vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    padding: 4vw;
    align-items: end;
}

.vertical-action-card a{
    position: absolute;
    padding: 1vw 10vw;
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: #abd9e9;
    color: #064d79;
}

.vertical-info-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: relative;
    gap: 5vw;
    width: 70vw;
}

.vertical-info-card img{
    width: 70vw;
    height: auto;
}

.card-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-align: justify;
}

.card-info-container h2{
    background-color: #064d79;
    color: white;
    display: flex;
    width: fit-content;
    text-align: center;
    padding: 2vw 10vw;
    border-radius: 5vw;
}

.christmas-location-card-container{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 5vw;
}

.christmas-location-card{
    border: 2px solid white;
    padding: 5vw;
    line-height: 6vw;
}

.christmas-location-link{
    margin-top: 2vw;
    display: inline-block;
    padding: 2vw ;
    background-color: #ACD8E9;
    color: #064d79;
    text-decoration: none;
    font-size: 4vw;
    font-weight: 600;
    border-radius: 10px;
}

.associated-company{
    background-color: #abd9e9;
    color: #064d79;
    border: none;
}

.associated-company h3{
    background-color: #064d79;
    color: white;
    padding: 0.5vw 2vw;
    font-size: 5vw;
    display: inline;
}

/* .associated-company p{
    font-size: ;
} */

@media(min-width:1024px){
    .vertical-action-card{
        padding: 1vw;
        width: 20vw;
        height: 25vw;
    }
    .vertical-action-card a{
        font-size: 1.5vw;
        padding: 1vw;
    }
    .vertical-info-card{
        gap: 1vw;
        width: auto;   
    }
    .vertical-info-card img{
        width: auto;
        height: 20vw;
    }
    .card-info-container{
        gap: 0.5vw;
        max-width: 35vw;
    }
    .card-info-container p{
        font-size: 1vw;
    }
    .card-info-container h2{
        padding: 1vw 3vw;
        font-size: 1vw;
    }
}