.collaborate-card-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin: 20vw 10vw;
}

.donations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.collaborate-card-banner h3, p{
    color: #064d79;
}

.collaborate-redirect{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 5vw;
}

.collaborate-redirect a{
    color: #064d79;
    font-weight: bold;
    font-size: 5vw;
}

.active-underline::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #abd9e9;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.active-underline:hover::after{
    transform: scaleX(1);
}


a{
    text-decoration: none;
}

@media(min-width:1024px){
    .collaborate-card-banner{
        margin: 5vw 0;
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }
    .collaborate-redirect{
        justify-content: flex-start!important;
        width: auto;
    }
    .collaborate-redirect a{
        font-size: 1.5vw;
    }
    .horizontal-card{
        flex-direction: row;
    }
    .horizontal-card div{
        align-items: flex-start;
        justify-content: space-between;
        max-width: 50vw;
        height: auto;
    }
    .horizontal-card div h2{
        font-size: 3vw;
        text-decoration: underline #abd9e9;
        background: none;
        padding: 0;
        color: #064d79;
    }
    .horizontal-card p{
        font-size: 1.5vw;
    }
}