.contact-main{
    background-color: #137ebeff;
}

.contact-header-section{
    margin-top: 10vw;
    
}

.contact-header-section header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    gap: 5vw;
    color: white;
    text-align: center;
}

.contact-title{
    font-size: 8vw;
}

.contact-text{
    font-size: 4.5vw;
}

.form-container{
    margin: 10vw 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 0 10vw;
}

.form-container button{
    padding: 2vw 5vw;
    background-color: white;
    font-size: 5vw;
    font-weight: 700;
    color: #137ebeff;
    border: none;
    border-radius: 30px;
    width: 100%;
}

.form-article{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vw;
}

.form-article label{
    color: white;
    font-size: 4.5vw;
}

.form-article input, textarea{
    background-color: #137ebeff;
    padding: 2vw 4vw;
    font-size: 6vw;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
}

.form-article input{
    border-radius: 30px;
}    

.form-article input:focus, textarea:focus{
    border: 2px solid white;
    outline: none;
}

.form-left{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
}

.form-right{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
}


@media(min-width: 1024px){
    .contact-header-section{
        margin: 2vw 0;
    }
    .contact-title{
        font-size: 2vw;
    }
    .contact-text{
        font-size: 1.5vw;
        text-align: start;
    }
    .form-container{
        margin: 5vw;
        gap: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-container button{
        overflow: visible;
        padding: 1vw 2vw;
        font-size: 1vw;
    }
    .form-container button:hover{
        cursor: pointer;
    }
    .form-article{
        width: auto;
        gap: 1vw;
        height: 100%;
    }
    .form-article h3, label{
        overflow: visible;
    }
    .form-article textarea{
        height: 90%;
    }
    .form-article label{
        font-size: 1.5vw;
    }
    .form-article input, textarea{
        font-size: 2vw;
        width: 100%;
        padding: 1vw;
    }
    .form-left{
        width: 30vw!important;
        gap: 2vw;
    }
    .form-right{
        height: 100%;
        width: 30vw!important;
        gap: 2vw;
    }
    h3{
        font-size: 1vw;
    }
}