.footer{
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    padding: 5vw;
    background-color: black;
    color: #064d79;
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.social-link{
    line-height: 0;
    border-radius: 50%;
    background-color: white;
    padding: 1.7vw;
}

.social-media{
    display: flex;
    gap: 7vw;
}

.social-media img{
    width: 4vw;
    height: 4vw;
}

.contact{
    display: flex;
    gap: 5vw;
}

.contact-container{
    display: flex;
    align-items: center;
    gap: 1vw;
}

@media(min-width:1024px){
    .footer{
        padding: 1vw;
    }
    .social-link{
        padding: 1vw;
    }
    .social-media img{
        width: 1.5vw;
        height: 1.5vw;
    }
}