.about-header-section{
    margin-top: 15vw;
    background-color: #064e7aff;
}
.about-header-img{
    width: 100%;
    height: auto;
    filter: brightness(0.8);
}
.about-header{
    padding: 15vw 10vw;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.about-header h1{
    font-size: 8vw;
}

.about-header p{
    font-size: 4.5vw;
    line-height: 1.2;
}


/* .wrapping-text{
    overflow-wrap: anywhere;
} */

.about-block{
    display: block;
    /* flex-direction: column; */
    justify-content: baseline;

}

.first-image{
    float: left;
}

.second-image{
    float: right;
}

/* team */

.team-container{
    display: flex;
    flex-direction: column;
    margin: 10vw 0;
    align-items: center;
}

.team-container h1{
    color: #064d79;
}

.team{
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.team h3, .team p{
    text-align: center;
    color: #064d79;
}
.team h3{
    font-weight: 500;
}
.team p{
    font-weight: 400;
}
.coord{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.coord img{
    width: 50%;
    height: auto;
}

.about-title{
    font-size: 7vw;
}


@media(min-width:1024px){
    .about-header-section{
        margin: 0;
    }
    .about-header-img{
        height: 35vw;
        object-fit: cover;
        object-position: 0 -10vw;
    }
    .about-header{
        padding: 5vw 7vw;
        gap: 2vw;
    }
    .about-header h1{
        font-size: 5vw;
    }
    .about-header p{
        font-size: 2vw;
    }
    .team-container{
        margin: 5vw 0;
    }
    .team{
        margin: 0 5vw;
    }

    .coord{
        justify-content: start;
        width: 20vw;
        gap: 0.2vw;
    }
    .coord img{
        width: 20vw;
    }
}