.back-button{
    margin: 20vw 0 2vw 0;
}

.programs-banner{
    margin: 0vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    text-align: center;
    color: #064d79;
}

.card-icon{
    width: 15vw;
    margin: 5vw 0 3vw 0;
}

.redirect-programs{
    font-size: 1.8rem;
    color: #064d79;
    text-decoration: none;
    cursor: pointer;
}

.redirect-programs::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #abd9e9;
    transition: transform .2s ease-in-out;
}

.redirect-programs:hover::after{
    transform: scaleX(1);
}

.campaigns{
    margin: 5vw;
    margin-top: 15vw;
}

.campaign{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 0 10vw 0;
    gap: 2vw;
    color:#064d79;
}

.campaign img{
    width: 100%;
    height: fit-content;
}

.campaign h1{
    font-size: 2.5rem;
    text-align: left;
}

.programs-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 5vw 5vw 5vw;
}

.programs-nav button{
    background-color: none;
    border: none;
    box-shadow: none;
    background: none;
    font-size: 1.5rem;
    color: #064d79;
}


.programs-title{
    margin: 20vw 5vw 0vw 5vw;
    color: #064d79;
    font-size: 7vw;
    text-align: center;
    text-decoration: underline #abd9e9;
}

.program{
    margin: 20vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    color: #064d79;
}

.multiple-programs{
    display: flex;
    gap: 15vw;
    flex-direction: column;
}

.program img{
    width: 100%;
}

.programs-category-title{
    font-size: 6vw;
    margin: 7vw 0 0 0;
}

@media(min-width:1024px){
    .programs-banner{
        margin-top: 2vw;
    }
    .programs-title{
        margin: 1vw 0 0vw 0;
        font-size: 3vw;
    }
    .card-icon{
        height: 3vw;
        width: auto;
        margin-top: 0;
    }
    .multiple-programs{
        gap: 5vw;
        width: 70vw;
    }
    .programs-category-title{
        font-size: 3vw;
    }
    /* custom card */
    .program-card{
        flex-direction: row;
        width: 100%;
    }
    .program-card img{
        height: 30vw;
        object-fit: cover;
        max-width: 20vw;
    }
    .program-card div{
        align-items: flex-start;
        max-width: 50vw;
    }
    .program-card div h2{
        background: none;
        padding: 0;
        color: #064d79;
        font-size: 2vw;
    }
    .program-card div p{
        font-size: 1.5vw;
    }   
    /* custom card */
}